@model Vidly.ViewModel.LoginModel 
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
@using (Html.BeginForm("LoginUser", "Account"))
{
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(c => c.Email)
        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Password)
        @Html.TextBoxFor(c => c.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Password)
    </div>
    @Html.HiddenFor(c=>c.Url)
    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Login</button>
}

@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
